<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Property</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/properties">Show Properties</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <h1>View Property</h1>
    <div>
        <p><strong>Address:</strong> <span th:text="${property.address}"></span></p>
        <p><strong>Owner Name:</strong> <span th:text="${property.ownerName}"></span></p>
        <p><strong>Rental Price:</strong> <span th:text="${property.rentalPrice}"></span></p>
        <p><strong>Status:</strong> <span th:text="${property.status}"></span></p>
    </div>
    <a href="/properties" class="btn btn-secondary">Back to List</a>
</div>
</body>
</html>
